/* CSS选择器以及 继承层叠特殊性知识点 */
/* 类选择器 */
/* Id选择器 */
/* 子选择器 */
/* 后代包含选择器 中间一个空格 */
.out span{
    background-color: brown;
}
/* 通用选择器,匹配所用 */
* {
    background-color: green;
}
/* 它允许给html不存在的标签（标签的某种状态）设置样式,
比如说我们给html中一个标签元素的鼠标滑过的状态来设置字体颜色 */
a:hover{
    color: red;
}
/* 多个标签元素设置同一个样式时，可以使用分组选择符(,) */

div,h2{
    color: blue;
}

/* 标签的权值为1，类选择符的权值为10，ID选择符的权值最高为100。 */
/* 注意：还有一个权值比较特殊--继承也有权值但很低，有的文献提出它只有0.1，所以可以理解为继承的权值最低。 */
h3{
    color: red;
}
.first{
    color: black;
}
/* 层叠就是在html文件中对于同一个元素可以有多个css样式存在，当有相同权重的样式存在时，会根据这些css样式的前后顺序来决定，处于最后面的css样式会被应用。
内联样式表（标签内部）> 嵌入样式表（当前文件中）> 外部样式表（外部文件中）
*/

/* 我们在做网页代码的时，有些特殊的情况需要为某些样式设置具有最高权值
使用!important来解决 */

p{
    color: pink!important;
}
